In [ ]:
#Scraping MLB data with BeautifulSoup and Selenium

In [74]:
import os
os.getcwd()

'C:\\Users\\dave_\\Desktop\\git_test\\projects\\clean'

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

table_MN = pd.read_html('https://en.wikipedia.org/wiki/Minnesota')

In [21]:
print(f'Total tables: {len(table_MN)}')

Total tables: 29

In [24]:
table_MN = pd.read_html('https://en.wikipedia.org/wiki/Minnesota', match='Election results from statewide races')
len(table_MN)

1

In [26]:
df = table_MN[0]
df.head()

   Year     Office    GOP    DFL Others
0  2020  President  45.3%  52.4%   2.3%
1  2020    Senator  43.5%  48.8%   7.7%
2  2018   Governor  42.4%  53.9%   3.7%
3  2018    Senator  36.2%  60.3%   3.4%
4  2018    Senator  42.4%  53.0%   4.6%

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    26 non-null     int64
 1   Office  26 non-null     object
 2   GOP     26 non-null     object
 3   DFL     26 non-null     object
 4   Others  26 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.1+ KB

In [34]:
#df['GOP'].replace({'%':''}, regex=True).astype('float')

df = df.replace({'%': ''}, regex=True)
df[['GOP', 'DFL', 'Others']] = df[['GOP', 'DFL', 'Others']].apply(pd.to_numeric)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    26 non-null     int64
 1   Office  26 non-null     object
 2   GOP     26 non-null     float64
 3   DFL     26 non-null     float64
 4   Others  26 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 1.1+ KB

# bs4

In [36]:
import requests
from bs4 import BeautifulSoup

In [39]:
url = "https://zlliu.s3.ap-southeast-1.amazonaws.com/index.html"
r = requests.get(url)
r

In [40]:
r.content

b'<div class="header">\n    <a class="logo">Logo goes here</a>\n\n    <div class="header-right">\n        <a class="active" href="">Home</a>\n        <a href="">Contact</a>\n        <a href="">About</a>\n    </div>\n</div>\n  \n<div class="content">\n\n    <div class="row">\n\n        <div class="left">\n            <div>\n                Shipped from: <span id="origin"> Singapore </span>\n            </div><br>\n            <div id="description">\n                Only the freshest fruits shipped from the state of Singapore, \n                also historically known by its indigenous name Pulau Ujong.\n                Description continues ...\n            </div><br>\n            <div>Last updated: <span id="last-updated-datetime">20 Nov 21, 1500 hours</span></div>\n        </div>\n\n        <div class="right">\n            <h2>Fruits for sale</h2>\n            <table id="fruits">\n                <tr><th>Fruit</th><th>Price ($)</th></tr>\n                <tr><td>Apple</td><td>4</td></tr>\n                <tr><td>Orange</td><td>5</td></tr>\n                <tr><td>Pear</td><td>6</td></tr>\n                <tr><td>Durian</td><td>7</td></tr>\n            </table>\n        </div>\n\n    </div>\n\n</div>\n\n<div id="other-stuff">\n    Other stuff goes here\n</div>\n\n<style>\n\n    .content {\n        padding: 3% 10% 3% 10%;\n    }\n\n    #other-stuff {\n        padding: 3% 10% 3% 10%;\n    }\n\n    .left, .right {\n        width: 49%;\n        display: inline-block;\n    }\n\n    .left {\n        font-size: 24px;\n\n    }\n\n    .right {\n        float: right;\n    }\n\n    #origin {\n        font-weight:600;\n    }\n\n    #last-updated-datetime {\n        font-weight:600;\n    }\n\n    * {box-sizing: border-box;}\n    \n    body { \n      margin: 0;\n      font-family: Arial, Helvetica, sans-serif;\n    }\n    \n    .header {\n      overflow: hidden;\n      background-color: #f1f1f1;\n      padding: 20px 10px;\n    }\n    \n    .header a {\n      float: left;\n      color: black;\n      text-align: center;\n      padding: 12px;\n      text-decoration: none;\n      font-size: 18px; \n      line-height: 25px;\n      border-radius: 4px;\n    }\n    \n    .header a.logo {\n      font-size: 25px;\n      font-weight: bold;\n    }\n    \n    .header a:hover {\n      background-color: #ddd;\n      color: black;\n    }\n    \n    .header a.active {\n      background-color: dodgerblue;\n      color: white;\n    }\n    \n    .header-right {\n      float: right;\n    }\n    \n    @media screen and (max-width: 500px) {\n      .header a {\n        float: none;\n        display: block;\n        text-align: left;\n      }\n      \n      .header-right {\n        float: none;\n      }\n    }\n\n    #fruits {\n        font-family: Arial, Helvetica, sans-serif;\n        border-collapse: collapse;\n        width: 100%;\n    }\n\n    #fruits td, #fruits th {\n        border: 1px solid #ddd;\n        padding: 8px;\n    }\n\n    #fruits tr:nth-child(even){background-color: #f2f2f2;}\n\n    #fruits tr:hover {background-color: #ddd;}\n\n    #fruits th {\n        padding-top: 12px;\n        padding-bottom: 12px;\n        text-align: left;\n        background-color: #f5b800;\n        color: white;\n    }\n\n</style>'

In [47]:
soup = BeautifulSoup(r.content, "html.parser")
soup

<div class="header">
<a class="logo">Logo goes here</a>
<div class="header-right">
<a class="active" href="">Home</a>
<a href="">Contact</a>
<a href="">About</a>
</div>
</div>
<div class="content">
<div class="row">
<div class="left">
<div>
                Shipped from: <span id="origin"> Singapore </span>
</div><br/>
<div id="description">
                Only the freshest fruits shipped from the state of Singapore,
                also historically known by its indigenous name Pulau Ujong.
                Description continues ...
            </div><br/>
<div>Last updated: <span id="last-updated-datetime">20 Nov 21, 1500 hours</span></div>
</div>
<div class="right">
<h2>Fruits for sale</h2>
<table id="fruits">
<tr><th>Fruit</th><th>Price ($)</th></tr>
<tr><td>Apple</td><td>4</td></tr>
<tr><td>Orange</td><td>5</td></tr>
<tr><td>Pear</td><td>6</td></tr>
<tr><td>Durian</td><td>7</td></tr>
</table>
</div>
</div>
</div>
<div id="other-stuff">
    Other stuff goes here
</div>
<style>

    .content {
        padding: 3% 10% 3% 10%;
    }

    #other-stuff {
        padding: 3% 10% 3% 10%;
    }

    .left, .right {
        width: 49%;
        display: inline-block;
    }

    .left {
        font-size: 24px;

    }

    .right {
        float: right;
    }

    #origin {
        font-weight:600;
    }

    #last-updated-datetime {
        font-weight:600;
    }

    * {box-sizing: border-box;}

    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    .header {
      overflow: hidden;
      background-color: #f1f1f1;
      padding: 20px 10px;
    }

    .header a {
      float: left;
      color: black;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      line-height: 25px;
      border-radius: 4px;
    }

    .header a.logo {
      font-size: 25px;
      font-weight: bold;
    }

    .header a:hover {
      background-color: #ddd;
      color: black;
    }

    .header a.active {
      background-color: dodgerblue;
      color: white;
    }

    .header-right {
      float: right;
    }

    @media screen and (max-width: 500px) {
      .header a {
        float: none;
        display: block;
        text-align: left;
      }

      .header-right {
        float: none;
      }
    }

    #fruits {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #fruits td, #fruits th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #fruits tr:nth-child(even){background-color: #f2f2f2;}

    #fruits tr:hover {background-color: #ddd;}

    #fruits th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #f5b800;
        color: white;
    }

</style>

In [49]:
origin = soup.find('span', {'id':'origin'})
origin

In [50]:
print(origin.text)

 Singapore

In [52]:
last_updated = soup.find("span", {'id': "last-updated-datetime"})
last_updated

In [53]:
last_updated.text

'20 Nov 21, 1500 hours'

In [54]:
table = soup.find("table", {"id":"fruits"})
table

<table id="fruits">
<tr><th>Fruit</th><th>Price ($)</th></tr>
<tr><td>Apple</td><td>4</td></tr>
<tr><td>Orange</td><td>5</td></tr>
<tr><td>Pear</td><td>6</td></tr>
<tr><td>Durian</td><td>7</td></tr>
</table>

In [60]:
fruits = {}
for tr in table.find_all("tr"):
  tds = tr.find_all("td")
  
  #so we dont get table headers
  if len(tds) == 0:
    continue
    
  fruit = tds[0].text
  price = tds[1].text
  
  fruits[fruit]=price
  
print(fruits)

{'Apple': '4', 'Orange': '5', 'Pear': '6', 'Durian': '7'}

In [61]:
#all the code in one place
import requests
from bs4 import BeautifulSoup

url = "https://zlliu.s3.ap-southeast-1.amazonaws.com/index.html"

r = requests.get(url)

soup = BeautifulSoup(r.content, "html.parser")

origin = soup.find("span", {"id":"origin"})
origin = origin.text.strip()

last_updated = soup.find("span", {"id":"last-updated-datetime"})
last_updated = last_updated.text.strip()

table = soup.find("table", {"id": "fruits"})

fruits = {}
for tr in table.find_all("tr"):
    tds = tr.find_all("td")

    # so we don't get the table headers
    if len(tds) == 0:
        continue

    fruit = tds[0].text
    price = tds[1].text

    fruits[fruit] = price

print(origin)
print(last_updated)
print(fruits)

Singapore
20 Nov 21, 1500 hours
{'Apple': '4', 'Orange': '5', 'Pear': '6', 'Durian': '7'}

# bs4 on mlb

In [79]:
#all the code in one place
import requests
from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/MLB:_The_Show"

r = requests.get(url)

soup = BeautifulSoup(r.content, "html.parser")

soup
predecessors = soup.find("table", {"class":"wikitable"})
#predecessors = predecessors.text.strip()
predecessors

<table class="wikitable">
<tbody><tr>
<th rowspan="2">Game
</th>
<th rowspan="2">Release date
</th>
<th colspan="2">Cover Athlete
</th>
<th rowspan="2">Platforms
</th></tr>
<tr>
<th>Star
</th>
<th>Team
</th></tr>
<tr>
<td><i><a href="/wiki/MLB_%2798" title="MLB '98">MLB '98</a></i>
</td>
<td>July 1, 1997
</td>
<td><a href="/wiki/Bernie_Williams" title="Bernie Williams">Bernie Williams</a>
</td>
<td><a href="/wiki/New_York_Yankees" title="New York Yankees">New York Yankees</a>
</td>
<td rowspan="6"><a href="/wiki/PlayStation_(console)" title="PlayStation (console)">PlayStation</a>
</td></tr>
<tr>
<td><i><a href="/wiki/MLB_%2799" title="MLB '99">MLB '99</a></i>
</td>
<td>March 31, 1998
</td>
<td><a href="/wiki/Cal_Ripken_Jr." title="Cal Ripken Jr.">Cal Ripken Jr.</a>
</td>
<td><a href="/wiki/Baltimore_Orioles" title="Baltimore Orioles">Baltimore Orioles</a>
</td></tr>
<tr>
<td><i><a href="/wiki/MLB_2000" title="MLB 2000">MLB 2000</a></i>
</td>
<td>February 28, 1999
</td>
<td><a href="/wiki/Mo_Vaughn" title="Mo Vaughn">Mo Vaughn</a>
</td>
<td><a href="/wiki/Los_Angeles_Angels" title="Los Angeles Angels">Anaheim Angels</a>
</td></tr>
<tr>
<td><i><a href="/wiki/MLB_2001" title="MLB 2001">MLB 2001</a></i>
</td>
<td>February 29, 2000
</td>
<td><a href="/wiki/Chipper_Jones" title="Chipper Jones">Chipper Jones</a>
</td>
<td rowspan="2"><a href="/wiki/Atlanta_Braves" title="Atlanta Braves">Atlanta Braves</a>
</td></tr>
<tr>
<td><i><a href="/wiki/MLB_2002" title="MLB 2002">MLB 2002</a></i>
</td>
<td>May 7, 2001
</td>
<td><a href="/wiki/Andruw_Jones" title="Andruw Jones">Andruw Jones</a>
</td></tr>
<tr>
<td><i><a href="/wiki/MLB_2003" title="MLB 2003">MLB 2003</a></i>
</td>
<td>June 17, 2002
</td>
<td><a href="/wiki/Barry_Bonds" title="Barry Bonds">Barry Bonds</a>
</td>
<td><a href="/wiki/San_Francisco_Giants" title="San Francisco Giants">San Francisco Giants</a>
</td></tr>
<tr>
<td><i><a href="/wiki/MLB_2004" title="MLB 2004">MLB 2004</a></i>
</td>
<td>April 30, 2003
</td>
<td><a href="/wiki/Shawn_Green" title="Shawn Green">Shawn Green</a>
</td>
<td><a href="/wiki/Los_Angeles_Dodgers" title="Los Angeles Dodgers">Los Angeles Dodgers</a>
</td>
<td rowspan="2"><a href="/wiki/PlayStation_(console)" title="PlayStation (console)">PlayStation</a>, <a href="/wiki/PlayStation_2" title="PlayStation 2">PlayStation 2</a>
</td></tr>
<tr>
<td><i>MLB 2005</i>
</td>
<td>March 4, 2004
</td>
<td><a href="/wiki/Eric_Chavez" title="Eric Chavez">Eric Chavez</a>
</td>
<td><a href="/wiki/Oakland_Athletics" title="Oakland Athletics">Oakland Athletics</a>
</td></tr>
<tr>
<td><i>MLB 2006</i>
</td>
<td>March 8, 2005
</td>
<td><a href="/wiki/Vladimir_Guerrero" title="Vladimir Guerrero">Vladimir Guerrero</a>
</td>
<td><a href="/wiki/Los_Angeles_Angels" title="Los Angeles Angels">Los Angeles Angels</a>
</td>
<td><a href="/wiki/PlayStation_2" title="PlayStation 2">PlayStation 2</a>, <a href="/wiki/PlayStation_Portable" title="PlayStation Portable">PlayStation Portable</a>
</td></tr></tbody></table>

In [135]:
predecessors.find_all('a')

team = soup.find("a", {'href': "/wiki/Los_Angeles_Angels"})
print(team)

<a href="/wiki/Los_Angeles_Angels" title="Los Angeles Angels">Anaheim Angels</a>

In [142]:
fruits = {}
for tr in predecessors.find_all("tr"):
    tds = tr.find_all("td")

    # so we don't get the table headers
    if len(tds) == 0:
        continue

    fruit = tds[0].text
    price = tds[2].text

    fruits[fruit] = price

fruits

{"MLB '98\n": 'Bernie Williams\n',
 "MLB '99\n": 'Cal Ripken Jr.\n',
 'MLB 2000\n': 'Mo Vaughn\n',
 'MLB 2001\n': 'Chipper Jones\n',
 'MLB 2002\n': 'Andruw Jones\n',
 'MLB 2003\n': 'Barry Bonds\n',
 'MLB 2004\n': 'Shawn Green\n',
 'MLB 2005\n': 'Eric Chavez\n',
 'MLB 2006\n': 'Vladimir Guerrero\n'}

In [216]:
f = pd.DataFrame.from_dict(fruits, orient='index')
f.reset_index(inplace=True)
f.columns = ['Game Name', 'Cover Athlete']
#f.iloc[0].apply(lambda x:x.strip('\n'))
f['Game Name'] = f['Game Name'].str.replace('\n','')
f['Cover Athlete'] = f['Cover Athlete'].str.replace('\n','')
f

  Game Name      Cover Athlete
0   MLB '98    Bernie Williams
1   MLB '99     Cal Ripken Jr.
2  MLB 2000          Mo Vaughn
3  MLB 2001      Chipper Jones
4  MLB 2002       Andruw Jones
5  MLB 2003        Barry Bonds
6  MLB 2004        Shawn Green
7  MLB 2005        Eric Chavez
8  MLB 2006  Vladimir Guerrero

In [76]:
lst = pd.read_html('https://en.wikipedia.org/wiki/MLB:_The_Show')
lst

[                MLB: The Show  \
 0  MLB: The Show current logo
 1                    Genre(s)
 2                Developer(s)
 3                Publisher(s)
 4                 Platform(s)
 5               First release
 6              Latest release

                                      MLB: The Show.1
 0                         MLB: The Show current logo
 1                                             Sports
 2                                   San Diego Studio
 3   Sony Interactive EntertainmentMLB Advanced Media
 4  PlayStation 2, PlayStation 3, PlayStation Port...
 5                  MLB 06: The ShowFebruary 28, 2006
 6                       MLB The Show 22April 5, 2022  ,
        Game       Release date      Cover Athlete                        \
        Game       Release date               Star                  Team
 0   MLB '98       July 1, 1997    Bernie Williams      New York Yankees
 1   MLB '99     March 31, 1998     Cal Ripken Jr.     Baltimore Orioles
 2  MLB 2000  February 28, 1999          Mo Vaughn        Anaheim Angels
 3  MLB 2001  February 29, 2000      Chipper Jones        Atlanta Braves
 4  MLB 2002        May 7, 2001       Andruw Jones        Atlanta Braves
 5  MLB 2003      June 17, 2002        Barry Bonds  San Francisco Giants
 6  MLB 2004     April 30, 2003        Shawn Green   Los Angeles Dodgers
 7  MLB 2005      March 4, 2004        Eric Chavez     Oakland Athletics
 8  MLB 2006      March 8, 2005  Vladimir Guerrero    Los Angeles Angels

                              Platforms
                              Platforms
 0                          PlayStation
 1                          PlayStation
 2                          PlayStation
 3                          PlayStation
 4                          PlayStation
 5                          PlayStation
 6           PlayStation, PlayStation 2
 7           PlayStation, PlayStation 2
 8  PlayStation 2, PlayStation Portable  ,
                 Game                 Release date       Cover Athlete  \
                 Game                 Release date                Star
 0   MLB 06: The Show            February 28, 2006         David Ortiz
 1   MLB 07: The Show  February 27, 2007 (PS2/PSP)        David Wright
 2   MLB 07: The Show           May 15, 2007 (PS3)        David Wright
 3   MLB 08: The Show                March 4, 2008         Ryan Howard
 4   MLB 09: The Show                March 3, 2009      Dustin Pedroia
 5   MLB 10: The Show                March 2, 2010           Joe Mauer
 6   MLB 11: The Show                March 8, 2011           Joe Mauer
 7   MLB 12: The Show                March 6, 2012     Adrián González
 8   MLB 13: The Show                March 5, 2013    Andrew McCutchen
 9   MLB 14: The Show     April 1, 2014 (PS3/Vita)      Miguel Cabrera
 10  MLB 14: The Show            May 6, 2014 (PS4)      Miguel Cabrera
 11  MLB 15: The Show               March 31, 2015         Yasiel Puig
 12   MLB The Show 16               March 29, 2016      Josh Donaldson
 13   MLB The Show 17               March 28, 2017     Ken Griffey Jr.
 14   MLB The Show 18               March 27, 2018         Aaron Judge
 15   MLB The Show 19               March 26, 2019        Bryce Harper
 16   MLB The Show 20               March 17, 2020         Javier Báez
 17   MLB The Show 21               April 20, 2021  Fernando Tatís Jr.
 18   MLB The Show 22                April 5, 2022       Shohei Ohtani

                                                                    Platforms
                      Team                                          Platforms
 0          Boston Red Sox                PlayStation 2, PlayStation Portable
 1           New York Mets  PlayStation 2, PlayStation 3, PlayStation Port...
 2           New York Mets  PlayStation 2, PlayStation 3, PlayStation Port...
 3   Philadelphia Phillies  PlayStation 2, PlayStation 3, PlayStation Port...
 4          Boston Red Sox  PlayStation 2, PlayStation 3, PlayStation Port...
 5         Minnesota Twins  PlayStation 2, PlayStation 3, PlayStation Port...
 6         Minnesota Twins  PlayStation 2, PlayStation 3, PlayStation Port...
 7          Boston Red Sox                    PlayStation 3, PlayStation Vita
 8      Pittsburgh Pirates                    PlayStation 3, PlayStation Vita
 9          Detroit Tigers     PlayStation 3, PlayStation 4, PlayStation Vita
 10         Detroit Tigers     PlayStation 3, PlayStation 4, PlayStation Vita
 11    Los Angeles Dodgers     PlayStation 3, PlayStation 4, PlayStation Vita
 12      Toronto Blue Jays                       PlayStation 3, PlayStation 4
 13       Seattle Mariners                                      PlayStation 4
 14       New York Yankees                                      PlayStation 4
 15  Philadelphia Phillies                                      PlayStation 4
 16           Chicago Cubs                                      PlayStation 4
 17       San Diego Padres  PlayStation 4, PlayStation 5, Xbox One, Xbox S...
 18     Los Angeles Angels  PlayStation 4, PlayStation 5, Xbox One, Xbox S...  ,
               Game             Star                Team
 0  MLB The Show 21  Jackie Robinson    Brooklyn Dodgers
 1  MLB The Show 22    Shohei Ohtani  Los Angeles Angels,
                Game            Star               Team
 0  MLB 12: The Show   José Bautista  Toronto Blue Jays
 1  MLB 13: The Show   José Bautista  Toronto Blue Jays
 2  MLB 14: The Show    Brett Lawrie  Toronto Blue Jays
 3  MLB 15: The Show  Russell Martin  Toronto Blue Jays
 4   MLB The Show 16  Josh Donaldson  Toronto Blue Jays
 5   MLB The Show 17   Aaron Sanchez  Toronto Blue Jays
 6   MLB The Show 18  Marcus Stroman  Toronto Blue Jays,
                Game           Star                Team
 0  MLB 06: The Show   Chan Ho Park    San Diego Padres
 1  MLB 14: The Show  Shin-Soo Choo       Texas Rangers
 2  MLB 15: The Show  Shin-Soo Choo       Texas Rangers
 3   MLB The Show 16   Jung-ho Kang  Pittsburgh Pirates
 4   MLB The Show 17   Hyun-soo Kim   Baltimore Orioles,
                Game          Star               Team
 0  MLB 13: The Show  Wei-Yin Chen  Baltimore Orioles
 1  MLB 14: The Show  Wei-Yin Chen  Baltimore Orioles
 2  MLB 15: The Show  Wei-Yin Chen  Baltimore Orioles
 3   MLB The Show 16  Wei-Yin Chen      Miami Marlins
 4   MLB The Show 17  Wei-Yin Chen      Miami Marlins,
         Commentator   06   07   08   09   10   11   12   13   14   15   16  \
 0   Matt Vasgersian  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 1     Dave Campbell  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 2        Rex Hudler  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 3       Eric Karros  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 4       Steve Lyons  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 5   Harold Reynolds  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 6        Dan Plesac  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 7       Mark DeRosa  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 8      Heidi Watney  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 9       Jon Sciambi  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 10  Chris Singleton  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 11            Total  3.0  3.0  3.0  3.0  3.0  4.0  3.0  3.0  3.0  3.0  3.0

      17   18   19   20   21   22  Total appearances
 0   NaN  NaN  NaN  NaN  NaN  NaN               16.0
 1   NaN  NaN  NaN  NaN  NaN  NaN                7.0
 2   NaN  NaN  NaN  NaN  NaN  NaN                6.0
 3   NaN  NaN  NaN  NaN  NaN  NaN                6.0
 4   NaN  NaN  NaN  NaN  NaN  NaN                4.0
 5   NaN  NaN  NaN  NaN  NaN  NaN                1.0
 6   NaN  NaN  NaN  NaN  NaN  NaN                5.0
 7   NaN  NaN  NaN  NaN  NaN  NaN                4.0
 8   NaN  NaN  NaN  NaN  NaN  NaN                3.0
 9   NaN  NaN  NaN  NaN  NaN  NaN                1.0
 10  NaN  NaN  NaN  NaN  NaN  NaN                1.0
 11  3.0  3.0  4.0  4.0  4.0  2.0                NaN  ,
     0                                                  1
 0 NaN  This section does not cite any sources. Please...,
     Year              Game                                            Sales
 0   1997           MLB '98                                              NaN
 1   1998           MLB '99                                     2.52 million
 2   1999          MLB 2000                                              NaN
 3   2000          MLB 2001                                              NaN
 4   2001          MLB 2002                                              NaN
 5   2002          MLB 2003                                              NaN
 6   2003          MLB 2004                                           660000
 7   2004          MLB 2005                                           900000
 8   2005          MLB 2006                                           400000
 9   2006  MLB 06: The Show                     940,000 (PS2), 350,000 (PSP)
 10  2007  MLB 07: The Show      930,000 (PS2), 280,000 (PS3), 280,000 (PSP)
 11  2008  MLB 08: The Show      420,000 (PS2), 700,000 (PS3), 330,000 (PSP)
 12  2009  MLB 09: The Show      330,000 (PS2), 720,000 (PS3), 270,000 (PSP)
 13  2010  MLB 10: The Show      410,000 (PS2), 730,000 (PS3), 210,000 (PSP)
 14  2011  MLB 11: The Show      130,000 (PS2), 590,000 (PS3), 180,000 (PSP)
 15  2012  MLB 12: The Show                     930,000 (PS3), 200,000 (PSV)
 16  2013  MLB 13: The Show                     840,000 (PS3), 150,000 (PSV)
 17  2014  MLB 14: The Show      430,000 (PS3), 730,000 (PS4), 120,000 (PSV)
 18  2015  MLB 15: The Show  400,000 (PS3), 1.01 million (PS4), 40,000 (PSV)
 19  2016   MLB The Show 16                     380,000 (PS3), 960,000 (PS4)
 20  2017   MLB The Show 17                                     1.16 million
 21  2018   MLB The Show 18                                     1.06 million
 22  2019   MLB The Show 19                                              NaN
 23  2020   MLB The Show 20                                              NaN
 24  2021   MLB The Show 21                                     2 million[7],
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteSan Diego Studio  \
 0                                      MLB: The Show
 1                                                NBA
 2                                              Other

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteSan Diego Studio.1
 0  06 07 08 09 10 11 12 13 14 15 16 17 18 19 20 2...
 1        NBA NBA 06 NBA 07 NBA 08 NBA 09: The Inside
 2  The Mark of Kri High Velocity Bowling Pain Mod...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ]

# selenium

In [63]:
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
url = 'https://pubs.rsc.org/en/content/articlelanding/2020/na/d0na00118j'

In [39]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time

path = 'C:\Program Files (x86)\chromedriver.exe'
driver = webdriver.Chrome(path)

driver.get('https://www.baseball-reference.com/players/c/cabremi01.shtml')
print(driver.title)


search = driver.find_element_by_id('standard_fielding')
print(search.text)


driver.quit()

<ipython-input-39-fc2c8cc820c6>:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

Miguel Cabrera Stats | Baseball-Reference.com

<ipython-input-39-fc2c8cc820c6>:13: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search = driver.find_element_by_id('standard_fielding')

Year Age Tm Pos Lg G GS CG Inn Ch PO A E DP Fld% Rtot Rdrs Rtot/yr Rdrs/yr RF/9 RF/G lgFld% lgRF9 lgRFG Awards
2003 20 FLA LF NL 55 55 51 481.0 107 99 5 3 1 .972 -5 1 -12 2 1.95 1.89 .979 1.91 1.89 MVP-27,RoY-5
2003 20 FLA OF NL 55 55 51 481.0 107 99 5 3 1 .972 -5 1 -12 2 1.95 1.89 .984 2.17 2.15 MVP-27,RoY-5
2003 20 FLA 3B NL 34 30 30 275.0 71 17 53 1 2 .986 2 -3 7 -12 2.29 2.06 .955 2.74 2.72 MVP-27,RoY-5
2004 21 FLA OF NL 158 158 135 1360.0 284 262 13 9 1 .968 -10 -3 -8 -2 1.82 1.74 .982 2.16 2.14 AS,MVP-22
2004 21 FLA RF NL 100 100 82 856.0 184 170 7 7 1 .962 -9 -9 -13 -12 1.86 1.77 .980 2.09 2.07 AS,MVP-22
2004 21 FLA LF NL 59 58 53 504.0 100 92 6 2 0 .980 0 6 0 14 1.75 1.66 .980 1.85 1.84 AS,MVP-22
2004 21 FLA DH NL 1 1 AS,MVP-22
2005 22 FLA LF NL 134 128 102 1105.2 205 188 12 5 3 .976 -9 -4 -10 -4 1.63 1.49 .984 1.94 1.92 AS,MVP-5,SS
2005 22 FLA OF NL 134 128 102 1105.2 205 188 12 5 3 .976 -9 -4 -10 -4 1.63 1.49 .984 2.19 2.16 AS,MVP-5,SS
2005 22 FLA 3B NL 29 28 20 238.0 70 22 46 2 5 .971 -2 0 -8 0 2.57 2.34 .958 2.77 2.74 AS,MVP-5,SS
2006 23 FLA 3B NL 157 157 134 1334.0 397 114 266 17 33 .957 -6 -10 -5 -9 2.56 2.42 .954 2.70 2.68 AS,MVP-5,SS
2006 23 FLA DH NL 1 1 AS,MVP-5,SS
2007 24 FLA 3B NL 153 152 134 1310.2 389 100 266 23 33 .941 -10 -19 -9 -17 2.51 2.39 .954 2.68 2.67 AS,MVP-15
2007 24 FLA DH NL 3 3 AS,MVP-15
2008 25 DET 1B AL 143 139 122 1204.0 1199 1117 73 9 116 .992 2 -7 2 -7 8.90 8.32 .994 9.26 9.18 MVP-13
2008 25 DET 3B AL 14 14 10 116.0 50 15 30 5 4 .900 -2 -3 -25 -30 3.49 3.21 .958 2.74 2.71 MVP-13
2008 25 DET DH AL 6 6 MVP-13
2009 26 DET 1B AL 153 153 135 1315.0 1327 1215 105 7 128 .995 -1 -1 -1 -1 9.03 8.63 .994 9.13 9.02 MVP-4
2009 26 DET DH AL 6 6 MVP-4
2010 27 DET 1B AL 148 148 132 1285.1 1327 1218 96 13 133 .990 -3 -5 -2 -4 9.20 8.88 .994 9.32 9.23 AS,MVP-2,SS
2010 27 DET DH AL 2 2 AS,MVP-2,SS
2011 28 DET 1B AL 152 152 138 1322.0 1379 1263 103 13 117 .991 -8 -2 -7 -2 9.30 8.99 .993 9.30 9.24 AS,MVP-5
2011 28 DET DH AL 7 7 AS,MVP-5
2012 29 DET 3B AL 154 154 142 1322.0 383 127 243 13 31 .966 -9 -4 -8 -4 2.52 2.40 .952 2.60 2.59 AS,MVP-1,SS
2012 29 DET DH AL 7 7 AS,MVP-1,SS
2012 29 DET 1B AL 2 0 0 3.0 4 4 0 0 1 1.000 0 0 0 0 12.00 2.00 .995 9.30 9.20 AS,MVP-1,SS
2013 30 DET 3B AL 145 145 113 1234.2 283 87 184 12 24 .958 -17 -17 -16 -17 1.98 1.87 .959 2.51 2.50 AS,MVP-1,SS
2013 30 DET DH AL 1 1 AS,MVP-1,SS
2014 31 DET 1B AL 126 125 100 1083.1 1081 978 98 5 100 .995 7 -1 8 -1 8.94 8.54 .992 8.97 8.94 AS,MVP-9
2014 31 DET DH AL 25 25 AS,MVP-9
2014 31 DET 3B AL 10 8 7 69.1 20 6 13 1 2 .950 -2 -1 -42 -17 2.47 1.90 .956 2.56 2.55 AS,MVP-9
2015 32 DET 1B AL 107 107 92 932.1 983 903 76 4 96 .996 1 1 1 1 9.45 9.15 .994 9.10 9.03 AS,MVP-11,SS
2015 32 DET DH AL 11 11 AS,MVP-11,SS
2016 33 DET 1B AL 147 147 127 1262.0 1288 1186 95 7 124 .995 -1 -3 -1 -3 9.14 8.71 .994 8.97 8.87 AS,MVP-9,SS
2016 33 DET DH AL 8 8 AS,MVP-9,SS
2016 33 DET 3B AL 1 1 1 8.0 2 2 0 0 0 1.000 0 0 -45 0 2.25 2.00 .960 2.70 2.60 AS,MVP-9,SS
2017 34 DET 1B AL 115 115 86 938.1 825 761 63 1 90 .999 2 -11 3 -14 7.90 7.17 .993 8.64 8.55
2017 34 DET DH AL 14 14
2018 35 DET 1B AL 32 32 21 261.0 262 248 13 1 22 .996 -2 -5 -8 -23 9.00 8.16 .993 8.51 8.43
2018 35 DET DH AL 5 5
2019 36 DET DH AL 107 107
2019 36 DET 1B AL 26 26 15 219.0 210 204 5 1 13 .995 -3 -1 -14 -5 8.59 8.04 .993 8.33 8.27
2020 37 DET DH AL 56 56
2021 38 DET DH AL 83 83
2021 38 DET 1B AL 44 44 31 367.1 339 312 26 1 34 .997 -1 -4 -3 -13 8.28 7.68 .993 8.20 8.01
2022 39 DET DH AL 15 15
12 Seasons 1B 1195 1188 999 10192.2 10224 9409 753 62 974 .994 -5 -38 -1 -4 8.97 8.50 .993 9.04 8.95
9 Seasons 3B 697 689 591 5907.2 1665 490 1101 74 134 .956 -46 -88 -9 -17 2.42 2.28 .955 2.64 2.62
18 Seasons DH 358 358
3 Seasons OF 347 341 288 2946.2 596 549 30 17 5 .971 -23 -13 -9 -5 1.77 1.67 .983 2.17 2.15
3 Seasons LF 248 241 206 2090.2 412 379 23 10 4 .976 -14 5 -8 2 1.73 1.62 .982 1.91 1.89
1 Season RF 100 100 82 856.0 184 170 7 7 1 .962 -9 -18 -13 -25 1.86 1.77 .980 2.09 2.07
20 Seasons TOT 2239 2218 1878 19047.0 12485 10448 1884 153 1113 .988 -75 -139 -5 -8 5.83 5.51 .988 5.99 5.93
Pos Lg G GS CG Inn Ch PO A E DP Fld% Rtot Rdrs Rtot/yr Rdrs/yr RF/9 RF/G lgFld% lgRF9 lgRFG Awards

In [73]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time

path = 'C:\Program Files (x86)\chromedriver.exe'
driver = webdriver.Chrome(path)


driver.get('https://www.baseball-reference.com/players/c/cabremi01.shtml')
print(driver.title)


search = driver.find_element_by_id('standard_fielding')
rows = search.find_elements_by_tag_name('tr')

for row in rows:
  print(row.text)
   

driver.quit()

<ipython-input-73-87f7872c7789>:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

Miguel Cabrera Stats | Baseball-Reference.com
Year Age Tm Pos Lg G GS CG Inn Ch PO A E DP Fld% Rtot Rdrs Rtot/yr Rdrs/yr RF/9 RF/G lgFld% lgRF9 lgRFG Awards
2003 20 FLA LF NL 55 55 51 481.0 107 99 5 3 1 .972 -5 1 -12 2 1.95 1.89 .979 1.91 1.89 MVP-27,RoY-5
2003 20 FLA OF NL 55 55 51 481.0 107 99 5 3 1 .972 -5 1 -12 2 1.95 1.89 .984 2.17 2.15 MVP-27,RoY-5

<ipython-input-73-87f7872c7789>:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search = driver.find_element_by_id('standard_fielding')

2003 20 FLA 3B NL 34 30 30 275.0 71 17 53 1 2 .986 2 -3 7 -12 2.29 2.06 .955 2.74 2.72 MVP-27,RoY-5
2004 21 FLA OF NL 158 158 135 1360.0 284 262 13 9 1 .968 -10 -3 -8 -2 1.82 1.74 .982 2.16 2.14 AS,MVP-22
2004 21 FLA RF NL 100 100 82 856.0 184 170 7 7 1 .962 -9 -9 -13 -12 1.86 1.77 .980 2.09 2.07 AS,MVP-22
2004 21 FLA LF NL 59 58 53 504.0 100 92 6 2 0 .980 0 6 0 14 1.75 1.66 .980 1.85 1.84 AS,MVP-22
2004 21 FLA DH NL 1 1 AS,MVP-22
2005 22 FLA LF NL 134 128 102 1105.2 205 188 12 5 3 .976 -9 -4 -10 -4 1.63 1.49 .984 1.94 1.92 AS,MVP-5,SS
2005 22 FLA OF NL 134 128 102 1105.2 205 188 12 5 3 .976 -9 -4 -10 -4 1.63 1.49 .984 2.19 2.16 AS,MVP-5,SS
2005 22 FLA 3B NL 29 28 20 238.0 70 22 46 2 5 .971 -2 0 -8 0 2.57 2.34 .958 2.77 2.74 AS,MVP-5,SS
2006 23 FLA 3B NL 157 157 134 1334.0 397 114 266 17 33 .957 -6 -10 -5 -9 2.56 2.42 .954 2.70 2.68 AS,MVP-5,SS
2006 23 FLA DH NL 1 1 AS,MVP-5,SS
2007 24 FLA 3B NL 153 152 134 1310.2 389 100 266 23 33 .941 -10 -19 -9 -17 2.51 2.39 .954 2.68 2.67 AS,MVP-15
2007 24 FLA DH NL 3 3 AS,MVP-15
2008 25 DET 1B AL 143 139 122 1204.0 1199 1117 73 9 116 .992 2 -7 2 -7 8.90 8.32 .994 9.26 9.18 MVP-13
2008 25 DET 3B AL 14 14 10 116.0 50 15 30 5 4 .900 -2 -3 -25 -30 3.49 3.21 .958 2.74 2.71 MVP-13
2008 25 DET DH AL 6 6 MVP-13
2009 26 DET 1B AL 153 153 135 1315.0 1327 1215 105 7 128 .995 -1 -1 -1 -1 9.03 8.63 .994 9.13 9.02 MVP-4
2009 26 DET DH AL 6 6 MVP-4
2010 27 DET 1B AL 148 148 132 1285.1 1327 1218 96 13 133 .990 -3 -5 -2 -4 9.20 8.88 .994 9.32 9.23 AS,MVP-2,SS
2010 27 DET DH AL 2 2 AS,MVP-2,SS
2011 28 DET 1B AL 152 152 138 1322.0 1379 1263 103 13 117 .991 -8 -2 -7 -2 9.30 8.99 .993 9.30 9.24 AS,MVP-5
2011 28 DET DH AL 7 7 AS,MVP-5
2012 29 DET 3B AL 154 154 142 1322.0 383 127 243 13 31 .966 -9 -4 -8 -4 2.52 2.40 .952 2.60 2.59 AS,MVP-1,SS
2012 29 DET DH AL 7 7 AS,MVP-1,SS
2012 29 DET 1B AL 2 0 0 3.0 4 4 0 0 1 1.000 0 0 0 0 12.00 2.00 .995 9.30 9.20 AS,MVP-1,SS
2013 30 DET 3B AL 145 145 113 1234.2 283 87 184 12 24 .958 -17 -17 -16 -17 1.98 1.87 .959 2.51 2.50 AS,MVP-1,SS
2013 30 DET DH AL 1 1 AS,MVP-1,SS
2014 31 DET 1B AL 126 125 100 1083.1 1081 978 98 5 100 .995 7 -1 8 -1 8.94 8.54 .992 8.97 8.94 AS,MVP-9
2014 31 DET DH AL 25 25 AS,MVP-9
2014 31 DET 3B AL 10 8 7 69.1 20 6 13 1 2 .950 -2 -1 -42 -17 2.47 1.90 .956 2.56 2.55 AS,MVP-9
2015 32 DET 1B AL 107 107 92 932.1 983 903 76 4 96 .996 1 1 1 1 9.45 9.15 .994 9.10 9.03 AS,MVP-11,SS
2015 32 DET DH AL 11 11 AS,MVP-11,SS
2016 33 DET 1B AL 147 147 127 1262.0 1288 1186 95 7 124 .995 -1 -3 -1 -3 9.14 8.71 .994 8.97 8.87 AS,MVP-9,SS
2016 33 DET DH AL 8 8 AS,MVP-9,SS
2016 33 DET 3B AL 1 1 1 8.0 2 2 0 0 0 1.000 0 0 -45 0 2.25 2.00 .960 2.70 2.60 AS,MVP-9,SS
2017 34 DET 1B AL 115 115 86 938.1 825 761 63 1 90 .999 2 -11 3 -14 7.90 7.17 .993 8.64 8.55
2017 34 DET DH AL 14 14
2018 35 DET 1B AL 32 32 21 261.0 262 248 13 1 22 .996 -2 -5 -8 -23 9.00 8.16 .993 8.51 8.43
2018 35 DET DH AL 5 5
2019 36 DET DH AL 107 107
2019 36 DET 1B AL 26 26 15 219.0 210 204 5 1 13 .995 -3 -1 -14 -5 8.59 8.04 .993 8.33 8.27
2020 37 DET DH AL 56 56
2021 38 DET DH AL 83 83
2021 38 DET 1B AL 44 44 31 367.1 339 312 26 1 34 .997 -1 -4 -3 -13 8.28 7.68 .993 8.20 8.01
2022 39 DET DH AL 15 15
12 Seasons 1B 1195 1188 999 10192.2 10224 9409 753 62 974 .994 -5 -38 -1 -4 8.97 8.50 .993 9.04 8.95
9 Seasons 3B 697 689 591 5907.2 1665 490 1101 74 134 .956 -46 -88 -9 -17 2.42 2.28 .955 2.64 2.62
18 Seasons DH 358 358
3 Seasons OF 347 341 288 2946.2 596 549 30 17 5 .971 -23 -13 -9 -5 1.77 1.67 .983 2.17 2.15
3 Seasons LF 248 241 206 2090.2 412 379 23 10 4 .976 -14 5 -8 2 1.73 1.62 .982 1.91 1.89
1 Season RF 100 100 82 856.0 184 170 7 7 1 .962 -9 -18 -13 -25 1.86 1.77 .980 2.09 2.07
20 Seasons TOT 2239 2218 1878 19047.0 12485 10448 1884 153 1113 .988 -75 -139 -5 -8 5.83 5.51 .988 5.99 5.93
Pos Lg G GS CG Inn Ch PO A E DP Fld% Rtot Rdrs Rtot/yr Rdrs/yr RF/9 RF/G lgFld% lgRF9 lgRFG Awards